.home {
	display: flex;
	flex-direction: column;
	align-items: center;

	font-size: 1rem;

	width: 100vw;
  height: 100vh;

	overflow-y: auto;
	overflow-x: hidden;
}

.header {
	background-color: dodgerblue;
	color: white;
	box-shadow: 0px 2px 8px #12121277;
	
	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 1.5rem;

	position: sticky;
	top: 0;
	z-index: 1;


	width: 100%;
}

.header-container {
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
	
	max-width: 500px;
	
	padding: 1rem 2rem;
}

@media screen and (max-width: 768px) {
	.header-container {
		max-width: 100vw;
		padding: 1rem;
	}
}

.header-container button {
	background-color: transparent;
	border: none;
	border-radius: 4px;
	color: white;
	cursor: pointer;

	padding: .5rem 1.25rem;
}

@media screen and (max-width: 768px) {
	.header-container button {
		padding: .5rem;
	}
}

.header-container button:hover {
	background-color: blue;
}


.add-item {
	display: flex;
	justify-content: space-between;

	font-size: 1.2rem;
	
	margin: 1rem 2rem;
	margin-top: 3rem;

	position: relative;
	z-index: 0;

	max-width: 500px;
	width: 100%;
}

@media screen and (max-width: 768px) {
	.add-item {
		min-width: 90vw;
		max-width: 90vw;
	}
}

.add-item input {
	border: 1px solid #12121277;
	border-radius: 3px;

	flex-grow: 1;
	
	padding: .5rem .7rem;
	margin-right: 1rem;
}

.add-item button {
	background-color: dodgerblue;
	border: none;
	border-radius: 4px;
	color: white;
	cursor: pointer;

	padding: .6rem 1rem;
}

.add-item button:hover {
	background-color: blue;
}

.list {
	display: flex;
	flex-direction: column;

	position: relative;
	z-index: 0;

	width: 500px;
}

@media screen and (max-width: 768px) {
	.list {
		width: 90vw;
	}
}

.list-header {
	display: flex;
	align-items: center;

	margin: 2rem 0;
	width: 100%;
}

.list-header .spacer {
	flex-grow: 1;
}

.list-header h3 {
	font-size: 1.4rem;
}

.list-header select {
	border-radius: 0;

	margin-left: .3rem;
}
.list-header select option {
	border-radius: 0;
}

.list .items {
	min-width: 330px;
	max-width: 500px;
}

@media screen and (max-width: 768px) {
	.list .items {
		min-width: 90vw;
		max-width: 90vw;
	}
}

.list-item {
	display: flex;
	position: relative;
	overflow-y: hidden;
}

.list-item .spacer {
	display: none;
}

.list-item:hover button.delete {
	bottom: 0;
}

.list-item button.delete {
	background-color: red;
	border: none;
	color: white;
	cursor: pointer;
	
	font-size: .68rem;
	font-weight: bold;

	position: absolute;
	right: 10px;
	bottom: -50px;

	text-transform: uppercase;
	transition: all 400ms ease;

	padding: .3rem .6rem;
}

@media screen and (max-width: 768px) {
	.list-item .spacer {
		display: block;
		flex-grow: 1;
	}
	.list-item button.delete {
		font-size: .65rem;
		
		margin-left: 15px;
		padding: .3rem .5rem;
		
		position: relative;
		right: 0;
		bottom: 0;
	}
}

.list .list-item {
	display: flex;
	align-items: center;

	border-left: 2px solid orange;
	border-bottom: 1px solid #12121244;

	padding: 1rem;
}
.list .list-item p, .list .list-item input {
	cursor: pointer;
}

.list-item input {
	margin-right: 10px;
}

.list .list-item.done {
	border-left: 4px solid dodgerblue;
}
.list .list-item.done p, .list .list-item.done input {
	filter: opacity(.5);
}

@media screen and (max-width: 768px) {
}